* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #ccf5ff;
}

.header {
    background-image: url("../images/header-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.header h1 {
    display: inline block;
    font-family: fantasy;
    font-size: 62px;
    color: #043e55;
    text-shadow: 4px 4px #06688f;
    padding-left: 40px;
    padding-top: 20px;
}

.header img {
    height: 300px;
    width: 250px;
    padding: 40px;
}

.header ul li {
    display: inline-block;
    font-family:cursive;
    font-size: 20x;
    position: absolute;
    right: 0px;
    background-color:rgb(28, 185, 247);
    width: 2000px;
    text-align: right;
}

div a {
    color: var(--dark-blue);
    padding: 14px 20px;
    text-decoration: none;
}

div a:hover {
    background-color: cyan;
    color:darkblue;
}

.vl {
    border-left: 6px solid blue;
    height: 250px;
    margin-left: 200px;
    padding: 30px;
}

.about-me, .projects, .contact-me, .resume {
    margin-top: 50px;
    margin-left: 100px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    color:rgb(7, 171, 247);
}

p { 
    margin-left: 300px;
    font-size: 15px;
    width: 1200px;
}

.portfolio {
    flex: 1;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.projects img {
    border-style: solid;
    border-image-width: 1px;
    border-radius: 0px;
    flex:  0 0 300px;
    margin: 20px;
    height: 250px;
    width: 500px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

.projects img:hover {
    background-color: cyan;
    color:darkblue;
}

@media screen and (max-width: 768px) {
    main,
    nav {
        flex-direction: column;
    }
}
