* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #ccf5ff;
}

.header {
    background-image: url("../images/header-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.header h1 {
    display: inline block;
    font-family: fantasy;
    font-size: 62px;
    color: #043e55;
    text-shadow: 4px 4px #06688f;
    padding-left: 40px;
    padding-top: 20px;
}

.header img {
    height: 300px;
    width: 250px;
    padding: 40px;
}

.header ul li {
    display: inline-block;
    font-family:cursive;
    font-size: 20x;
    position: absolute;
    right: 0px;
}

div a {
    color: var(--dark-blue);
    padding: 14px 20px;
    text-decoration: none;
    text-align: right;
}

div a:hover {
    background-color: cyan;
    color:darkblue;
}

.about-me, .projects, .contact-me {
    margin-top: 50px;
    margin-left: 100px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    color:rgb(7, 171, 247);
}

p { 
    margin-left: 300px;
    font-size: 15px;
    width: 500px;
    
}

.portfolio {
    flex: 1;
    background-color: (var--white);
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.box {
    border-style: solid;
    border-width: 10px;
    border-radius: var(--border-radius);
    padding: 10px;
    flex:  0 0 300px;
    box-shadow: 10px 10 px 5px #ccf5ff;
    margin: 20px;
}

@media screen and (min-width: 768px) {
     {
        flex: 0 0 50%;
        max-width: 50%;
    
        {
            flex-grow: 1;
        }
    }


@media screen and (min-width: 992px) {
     {
        width: 75%
     }

     {
         flex: 0 0 33.333%;
         max-width: 33.333%;
     }
    }
